/*Body Styling*/
* {
  border-style: border-box; 
  margin: 0;
}

body {
  font-size: 18px;
  margin: 0;
}

main {
  padding: 3% 0%;
  width: 100%;
}

/*Input Area Styling*/
h1 {
  color: #6D6E71;
  font-family: "Roboto Slab", serif;
  font-size: 3em;
  margin: 0px;
  text-align: center;
}

h1 > span {
  color: #00A79D;
}

input,
textarea {
  border: 1px solid #D1D3D4;
  color: #6D6E71;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin: 4% auto 3%;
  max-width: 750px;
  padding: 2px 5px;
  width: 87%;
  height: 2em;
  margin: 2% auto 1%;
}

input::placeholder,
textarea::placeholder {
  font-weight: 700;
  color: #D1D3D4;
}

input {
  height: 2em;
}

textarea {
  resize: none;
  line-height: 30px;
}

button:focus,
input:focus,
textarea:focus,
h1:focus,
p:focus {
  outline: 0;
}

.task-input-wrap {
  padding: 0px;
}

.blue-background {
  background-color: #E5F3F2;
  padding: 30px 0px 15px;
}

.save-button {
  background-color: #00A79D;
  border-style: none;
  color: #FFF;
  cursor: pointer;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  height: 2rem;
  margin: 2% auto 1%;
  max-width: 760px;
  width: 88%;
  transition: background-color 1s;
}

.save-button:hover {
  background-color: #045E55;
}

.save-button:disabled {
  background-color: #D1D2D4;
  cursor: auto;
}

#search-box {
  width: 88%;
}

.style-button {
  border-style: none;
  color: #00A79D;
  cursor: pointer;
  font-size: 1em;
  height: 2rem;
  margin: 2% auto 1%;
  border: 1px solid #E1F1F0;
  transition: background 1s;
 }

.style-button:hover {
  background:#E1F1F0 ;
  border: 1px solid #00A79D;
 }

.search-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  width: 89%;
  max-width: 800px;
}

.importance-wrapper {
  border-color: #E1F1F0;
  width: 88%;
  max-width:750px;
  margin: 0 auto;
  display: flex;
  border: 1px solid #E1F1F0;
}

.importance {
  display: inline-block;
  background-color: #FFFFFF;
  border-style: none;
  color: #00A79D;
  cursor: pointer;
  font-size: 1em;
  height: 2rem;
  flex: 1;
  transition: color 1s;
}

.importance:hover {
  color: #626366;
}

.show-btn-wrapper {
  width: 88%;
  max-width: 750px;
  margin: 0 auto;
  text-align: right;
}

.show-completed-btn{
  border: 1px solid #E1F1F0;
  background-color: #FFF;
  color: #00A79D;
  align-items: flex-end;
}

.show-completed-btn:hover {
  background:#E1F1F0 ;
  border: 1px solid #00A79D;
}

.task-complete-btn {
  border-style: none;
  color: #00A79D;
  cursor: pointer;
  height: 2rem;
  float: right;
  background: none;
}

.show-more-btn {
  border: 2px solid #E1F1F0;
  color: #00A79D;
  background: none;
}

/*Task Card Section Styling*/
.task-card-wrap {
  margin: auto;
  max-width: 750px;
  padding: 20px;
}

.task-card-wrap input {
  border: 1px solid #D1D3D4;
  color: #6D6E71;
  font-size: 1em;
  height: 2.5em;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 750px;
  width: 93%;
}

.task-card-wrap input:focus {
  outline: none;
}

.task-card-wrap input::placeholder {
  color: #cccccc;
  font-size: 1em;
  font-weight: bold;
}

/*Task Card Styling*/
.task-card {
  margin: auto;
  position: relative;
  width: 94%;
}

.task-card h1 {
  font-size: 1.5em;
}

.task-card h2 {
  font-size: 1em;
}

.task-card h1,
.task-card h2 {
  color: #6D6E71;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin: 0px;
}

.task-card .rating,
.task-card p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.task-card p {
  color: #939598;
  font-size: 1em;
  margin: 15px 0px;
  max-height: 120px;
  overflow-y: scroll;
}

.task-card hr {
  border: 1px solid #D1D3D4;
  margin: 20px 0;
}

.completed {
  text-decoration: line-through;
}

/*Button Styling*/
.task-card .svg {
  border: none;
  cursor: pointer;
  height: 30px;
  margin: 0 5px 0 0;
  vertical-align: middle;
  width: 30px;
}

.task-card .delete-button {
  background: url(images/delete.svg) no-repeat;
  position: absolute;
  right: -5px;
  transition: background 1s;
}

.task-card .delete-button:hover {
  background: url(images/delete-hover.svg) no-repeat;
}

.task-card .upvote-button {
  background: url(images/upvote.svg) no-repeat;
  transition: background 1s;
}

.task-card .upvote-button:hover {
  background: url(images/upvote-hover.svg) no-repeat;
}

.task-card .downvote-button {
  background: url(images/downvote.svg) no-repeat;
  transition: background 1s;
}

.task-card .downvote-button:hover {
  background: url(images/downvote-hover.svg) no-repeat;
}


/*Media Queries*/
@media screen and (max-width: 650px) {
  
  h1 {
    font-size: 3em;
  }

  .task-complete-btn {
    background: #fff;
    border-style: none;
    color: #00A79D;
    cursor: pointer;
    height: 2rem;
    float: right;
  }

  .show-more-btn {
    border: 2px solid #E1F1F0;
    color: #00A79D;
    background: none;
  }
}

@media screen and (max-width: 900px) {
  
  h1 {
    font-size: 5em;
  }

  .task-card {
    width: 100%;
  }

  .task-complete-btn {
    background: transparent;
    border-style: none;
    color: #00A79D;
    cursor: pointer;
    height: 2rem;
    float: right;
  }

  .show-more-btn {
    border: 2px solid #E1F1F0;
    color: #00A79D;
    background: none;
  }
}

@media screen and (max-width: 361px) {
  
  .importance-wrapper {
    width:100%;
    margin: 0;
  }

  .show-btn-wrapper {
    text-align: center;
  }

  .show-completed-btn {
    margin-top: 15px;
  }

  .task-complete-btn {
    background: none;
    border-style: none;
    color: #00A79D;
    cursor: pointer;
    height: 2rem;
    float: right;
  }

  .show-more-btn {
    border: 2px solid #E1F1F0;
    color: #00A79D;
    background: none;
  }
}